.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item{
  padding: 10px;
 border-radius: 15px;
  border: 2px solid #212121;
  width: 330px;
  margin-bottom: 15px;
  margin-left: 15px;
}


.title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}
