.list {
  display: grid;
  justify-content: center;
  gap: 50px 50px;
  grid-template-columns: 225px;
  
  @media screen and (min-width: 768px) {
    grid-template-columns: 225px 225px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: 225px 225px 225px 225px;
  }
}
.item{
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #212121;
}


.title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}
