
.title{
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
