.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #2f303a;
    color: #ffffff;
}

.text{ 
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2196f3;
    font-size: 20px;
    @media screen and (min-width: 768px) {
        font-size: 30px;
    }
}

.textSpan{
    color:  #ffffff;
}

.link{
    text-decoration: none;
    color: #ffffff;

    &:hover,
    &:focus {
    color: rgba(186,232,203,0.5);
    }
}

.telegram{
    margin-right: 15px;
}

.copyright{
    margin-top: 30px;
font-size: 10px;
}